@model GitHubSearch.Models.Users.UserSearchModel

@{
    ViewBag.Title = "Users";
}

<main>
    <div class="row">
        @using (Html.BeginForm("Search", "Users", FormMethod.Post)) {
            @Html.TextBoxFor(m => m.Username, new { placeholder = "username" })
            @Html.ValidationMessageFor(m => m.Username, string.Empty, new { @class = "text-danger" })

            <input type="submit" />
        }
    </div>
</main>