@model GitHubSearch.Models.Users.IndexViewModel

<main class="d-flex flex-column justify-content-center align-items-center h-100">
    <h3 class="display-3">Search GitHub Users</h3>

    @{
        Html.RenderPartial("_UserSearch", Model.UserSearch, ViewData);
    }

    @if (!string.IsNullOrEmpty(Model.Error)) {
        <div class="alert alert-danger mt-3">
            @Model.Error
        </div>
    }
</main>